<div class="full-card">
    <div class="reminder">
        <p>
            <b>Start</b>
            <br>The player going first starts with four cards in hand, and the player going second starts with five. Both players start on 50 Health.
            <br>Each turn consists of an <b>action phase</b>, a <b>learning phase</b>, and an <b>end phase</b>.
        </p>
        <p>
            <b>1. Action Phase</b>
            <br>During your action phase, you may play normal attack cards, special attack cards, and focus cards.
            <br>During your opponent's action phase, you may play block cards.
            <br>Each of these cards has a <i>Combo</i> cost on the left hand side.  Each player starts each action phase with 2 Combo Points.
            You must pay the Combo cost for any card in order to play it.
        </p>
        <p>
            Focus cards just do what they say immediately.
        </p>
        <p>
            Whenever you attack your opponent, they can play a block card from their hand to block the attack.
            If your opponent doesn't block, the attack hits and deals damage equal to its damage value to them.
        </p>
        <p>
            Whenever you <i>hit</i> your opponent with a normal attack, you gain 1 Combo Point and they lose 1 Combo Point.
            Whenever you hit your opponent with a special attack, they lose all their Combo Points.
        </p>
        <p>
            After you're done attacking and playing focus cards, discard all the cards you played this phase, and move to the learning phase.
        </p>
    </div>
</div>
