/* layout.css - Lays out cards so they're the right size, have borders, etc.

    User hooks:
       .full-card - Sizes something to fit an entire card.  Useful for background <div>s.
*/

html {
    // Set the core font-size to 1px, and use rems, for easy rescaling.
    font-size: 1px;

    // Set some sensible defaults.
    * {
        box-sizing: border-box;
        border: 0;
        margin: 0;
        padding: 0;
    }
}

body {
    // Default to a generic, concise, easily-readable font.
    font-family: "Arial";
}

@media all {
    // We don't want page breaks to show up normally...
    .page-break { display: none; }
}

@media print {
    // ...but we'll need them when printing, for sure.
    .page-break { display: block; page-break-before: always; }
}

// @page {
//     // Set the margin when printing.
//     margin: 10mm 0mm 0mm 10mm;
// }

.spoiler {
    // The full card table.  Displays a thin grey line between cards as a guideline
    // for cutting and as a visual separator.
    border-spacing: 2rem solid gray;
    background-color: gray;

    .card-cell {
        // Apply a thick black border around each card to aid visually and with
        // cutting out sheets of printed cards.
        border: 10rem solid #000;
        vertical-align: top;
        position: relative;
        background-color: #fff;

        width: 235rem;
        height: 325rem;

        .card-wrapper {
            &, .full-card {
                // Fix the positions of card-wrapping <div>s to ensure the objects inside them don't
                // push the card out of place or break the formatting.
                width: 100%;
                height: 100%;
                display: block;
                overflow: hidden;
                position: relative;
            }
        }
    }

}
