{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static "styles/layout.css" %}">
    <link rel="stylesheet" href="{% static "styles/custom.css" %}">
</head>

<body>
    <table class="spoiler">
        <tr>
            {% for object in object_list %}
                <td id="card-{{ forloop.counter }}" class="card-cell">
                    {% include 'painter/card_wrapper.html' %}
                </td>

                {% if forloop.counter|divisibleby:3 %}
                    </tr>
                    {% if forloop.counter|divisibleby:9 %}
                        </table>
                        <div class="page-break"></div>
                        <table class="spoiler">
                    {% endif %}
                    <tr>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
</body>
</html>
